<link rel="stylesheet" href="/css/banner.css">
<div>
    <div class="flexbox flexbox-banner">
        <div>
            <a class="banner-link flexbox flexbox-banneritems" href="/"><img src="/icon.gif" width="48" alt="TheatreKids"> TheatreKids</a>
        </div>
        <div class="flexbox flexbox-banneritems">
            <a class="banner-link" href="/blog">News/Blog</a>
            <a class="banner-link" href="/servers">Games</a>
            <a class="banner-link" href="https://discord.gg/496jmyPuqN">Discord</a>
        </div>
    </div>
</div>