{{> meta title="TheatreKids Games - Minecraft 2"}}
{{> elm/header text="TheatreKids Minecraft Server 2"}}

<h2>The Offical TheatreKids Minecraft Server. Again.</h2>

<p>God I love Minecraft. Don't you love Minecraft? Who doesn't LOVE Minecraft. I love Minecraft so much I could KILL someone. I would actually KILL SOMEONE to play Minecraft. I would KILL THE PRESIDENT OF THE UNITED STATES to play Minecraft. Legally, I'm just kidding.</p>

<h2>How to Join</h2>

<h3>Java</h3>

<ul>
    <li>Server IP: <strong>theatrekids.uk</strong></li>
    <li>Server Port: <strong>Default (25565)</strong></li>
</ul>

<h3>Bedrock</h3>

<ul>
    <li>Server IP: <strong>theatrekids.uk</strong></li>
    <li>Server Port: <strong>Default (19132)</strong></li>
</ul>

<p>For instructions on joining Minecraft on console, see <a href="#links">links</a>.</p>

<h2>Server Status</h2>

<ul>
    <li>MOTD: {{{minecraft.motd.html}}}</li>
    <li>Players: {{minecraft.players.online}}/{{minecraft.players.max}}</li>
    <li>Version: {{{minecraft.version.name_html}}}</li>
</ul>

<iframe class="fullspace" src="/servers/mc2/status/" frameborder="0"></iframe>

<h2 id="links">Links</h2>

<ul>
    <li><a href="/servers/mc2/map">Online World Map</a></li>
    <li><a href="https://github.com/Pugmatt/BedrockConnect">BedrockConnect Guide</a></li>
</ul>