{{> meta title="TheatreKids Games - TKMB"}}
{{> elm/header text="TKMB"}}

<h2>The Offical TheatreKids Minecraft Server. In Beta 1.7.3.</h2>

<p>Imma keep this so real rn this is just a version of mc I like a little bit so im adding it here for my frends :)</p>

<h2>How to Join</h2>

<h3>Java</h3>

<ul>
    <li>Server IP: <strong>beta.smp.theatrekids.uk</strong></li>
    <li>Server Port: <strong>Default (25565)</strong></li>
</ul>

<h2 id="links">Links</h2>

<ul>
    <li><a href="/servers/tkmb/map">Online World Map</a></li>
</ul>