@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

* {
    --main-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --special-font: 'Bebas Neue', var(--main-font);
}

.special-font {
    font-family: var(--special-font);
}

.background {
    background-image: url("/bricks.png");
}

.content {
    background-image: url("/paper.png");
}

.sidebar {
    background-image: url("/banner.png");
}