<div class="main">
    <div class="full sandpaper">
        <div class="center popout">
            <div class="text-center">
                <h1>Handlebars Test Layout</h1>
                <p>This is a test document, made to demonstrate the handlebars system.</p>
            </div>
            <div>
                <p>Image Test:</p>
                <img src="https://c.tenor.com/M3lexDdZRTEAAAAd/tenor.gif" alt="Cherry Blossom Tree Pixel Art Gif">
            </div>
        </div>
    </div>
</div>