{{> meta title="TheatreKids Games"}}

{{> elm/header text="Game Servers"}}

<p>Here is a list of game servers/lobbys/whateverthefuck that TheatreKids has for different games.</p>

<div class="grid fullwide flexbox flex-down">
    <div class="grid-row flexbox fullwide">
        <a href="/servers/mc2" class="grid-item">
            <h3>TheatreKids Minecraft Server 2</h3>
            <img src="/img/mc_logo.png" alt="Minecraft Logo">
        </a>
    </div>
</div>